%clearfix {
  &:before,
  &:after {
    content: " ";
    display: table;
  }
  &:after {
      clear: both;
  }
}


@mixin image-centered() {
  position: relative;
  overflow: hidden;
  img {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-height: 100%;
    min-width: 100%;
    max-width: none;
    max-height: none;
    width: auto;
    height: auto;
  }
}