extends layouts/layout-default

//- pass vars to the layout
block vars 
  - var bodyClass = 'page-index'
  - var metaTitle = ''
  - var metaDescription = ''
  - var metaKeywords = ''


//- layout content inside body tag
block content
  main
    h1 Hello, Template 2!