// my personal preferences
* {
  box-sizing: border-box;
}

textarea {
  resize: none;
}
input, textarea, button {
  outline: none;
}
label, button {
  cursor: pointer;
}

mark {
  font-weight: bold;
  background: transparent;
  border: none;
  font-style: normal;
}